<div class="col vh-100 bg-primary">
    <a class="btn btn-primary mb-1" href='#!/login' ng-show="!displayButton">Inicio de sesion</a>
    <a class="btn btn-primary mb-1" href='#!/update-profile' ng-show="displayButton">Editar perfil</a>
    <a class="btn btn-primary mb-1" href='#!/home' ng-show="displayButton" ng-click="logout()">Cerrar sesion</a>
    <a class="btn btn-primary mb-1" href='#!/register' ng-show="!displayButton">Registro</a>
</div>
