<div class="col vh-100 bg-primary" ng-show="visible">
    <form ng-submit='loginAttemp()' class="col">
        <h1>Iniciar sesion</h1>
        <input type="text" class="form-control mb-1" ng-model='user.email' placeholder="Tu email aqui">
        <input type="password" class='form-control mb-1' ng-model='user.password' placeholder="*******">
    
        <button type="submit" class="btn btn-primary text-black pt-4 mb-4">Entrar</button>
    </form>
    <div>
        <br>
        <a href='#!/home' class="text-black mr-4 pt-4">Regresar</a> 
        <a href='#!/register' class="text-black pt-4">Registrarme</a>    
    </div>
</div>
