<div class="col vh-100 bg-primary">
    <form ng-submit='registerAttepm()' class="col" autocomplete="false">
        <h1>Registrate</h1>
        <input type="text" class="form-control mb-1" ng-model='user.name' placeholder="Nombre y apellido">
        <input type="email" class="form-control mb-1" ng-model='user.email' placeholder="Tu email aqui">
        <input type="password" class='form-control mb-1' ng-model='user.password' placeholder="Tu clave de acceso">
        <input type="password" class='form-control mb-1' ng-model='user.password2' placeholder="Confirma la clave">
        <button type="submit" class="btn btn-primary text-black pt-4 mb-4">Registrarme</button>
    </form>
    <div>    
        <br>
        <a href='#!/home' class="text-black mr-4 pt-4">Regresar</a> 
        <a href='#!/login' class="text-black pt-4">Iniciar sesion</a>    
    </div>
</div>
