html
{
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
    display: flex;
    height: 100vh;
    margin: 0px;
}




.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    width: 100%;  
}

.d-flex{
    display: flex;
    width: 100%;
}

.vh-100{
    height: 100vh;
}
.mb-1{
    margin-bottom: 1em;
}

.mr-4{
    margin-right: 4em;
}

.mt-10{
    margin-top: 10em;
}

.pd-4{}