@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body * {
    font-family: Lato !important;
}

.bg-primary{
    background:rgb(234, 234, 234);
}

.btn{
    height: 5em;
    border-radius: .5em;
    border:none;
    width: 50%;
    cursor: pointer;
}

input,label{
    display: block;
}

a{
    text-decoration: none;
}

a.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: tahoma;
    font-size: .7em;
  }

.btn:hover {
    background-color: rgb(237, 237, 237);
    box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.4);

}

.btn-primary{
    background: white;
    text-align: center;
}



.form-control{

display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: 50%;
height: auto;
position: static;
cursor: default;
opacity: 1;
padding: 10px 20px;
overflow: visible;
border: 1px solid #b7b7b7;
-webkit-border-radius: 3px;
border-radius: 3px;
color: rgb(0, 0, 0);
-o-text-overflow: clip;
text-overflow: clip;
background: rgba(252,252,252,1);
-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}

.text-black{
    color:black;
}
