<div class="col vh-100 bg-primary ng-cloak" ng-show="visible">
    <form ng-submit='updateProfile()' class="col">
        <h1>Actualizar mi perfil</h1>
        <input type="text" class="form-control mb-1" ng-model='user.name' placeholder="Nombre y apellido">
        <input type="password" class='form-control mb-1' ng-model='user.password' placeholder="Tu clave de acceso">
        <input type="password" class='form-control mb-1' ng-model='user.password2' placeholder="Confirma la clave">

        <button type="submit" class="btn btn-primary text-black pt-4 mb-4">Actualizar</button>
    </form>
    <div>
        <br>
        <a href='#!/home' class="text-black pt-4">Regresar</a>    
    </div>
</div>
